<!doctype html>
<html lang="fr">


<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title> Page 1 </title>

</head>
<body>
	<div class="etapeTexte">
		<h>Les etape de notre Projet :</h>
	</div>
	<br>
	<br>
	<a class="button2" href="lemmatizer"> <strong>-Lemmatizer</strong></a>
	<br>	
	<a class="button2" href="tokenizer"> <strong>-tokenizer</strong></a>
	<br>
	<a class="button2" href="Analyzer"> <strong>-Analyzer</strong></a>	
	<br>
	<div class="etapeTexte">
		<h>Les données utilisé :</h>
	</div>
	<br>
	<br>
	<a class="button2" href="lefff"> <strong>-lefff</strong></a>	
	<br>
	<a class="button2" href="lexicon"> <strong>-lexicon</strong></a>		
	<br>
	<a class="button2" href="stop_word"> <strong>-stop words</strong></a>		
	<br>
	<div class="etapeTexte">
		<h>Le projet :</h>
	</div>
	<br>
	<a class="button2" href="projet"> <strong>Projet</strong></a>


</body>


</html>