<!doctype html>
<html lang="fr">


<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title> Page 1 </title>


</head>
<body>
<div class="Presentation">
		<h1>Lefff</h1>
	</div>
	
		<h3 class='titlered'>C'est quoi le Lefff ?</h3>
		
	<div class="Presentation">
		<p>Le Lefff est un lexique libre et gratuit pour la reconnaissance de la langue naturelle en français,</p><p> utilisé pour des tâches comme la génération de textes et le traitement automatique du langage,</p></p>il est maintenu par une communauté de contributeurs bénévoles.</p>
		</div>
<h3 class='titlered'>A quoi il nous sert ?</h3>	
<div class="Presentation">
	<p> il nous sert à retrouver la forme originelle d'un mot</p>
	<p> si un verbe est congugé il sera donné a sa forme de "base",<p>
</div>
<p class="titlered"> Exemple :</p>
<div class="Presentation">
	<p>
	déracines	->	déraciner	</br>
	déracinez	->	déraciner	</br>
	déracinez	->	déraciner	</br>
	déraciniez	->	déraciner	</br>
	déraciniez	->	déraciner	</br>
	déracinions	->	déraciner	</br>
	</p>
</div>
<footer>

<a class="button2" href="etape"> <strong>Revenir au étape</strong></a>

</footer>

</body>






</html>