<html lang="fr">


<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title> Page 1 </title>


</head>
<body>
<div class="Presentation">
		<h1 class="titlered">Lexicon</h1>
	</div>
	
		<h3 class='titlered'>C'est quoi le Lexicon ?</h3>
		
	<div class="Presentation">
		<p>Notre "lexicon" vien de Vader-Sentiment, Nous avons pris le temps de lire leur code sont d'en extraire les parties les plus intéressantes !,</p>
		<p class="titlered">Exemple:</p>
		</p>- Les booster<br>- L'utilisation Du lexicon<br>- L'utilisation de Lefff</p>
		<div>
<h3 class='titlered'>Mais ! vous me diriez C'est quoi le lexicon?<br>Rien ne vos plus qu'un exemple !</h3>	
<p class="titlered"> Exemple :</p>
<div class="Presentation">
	<p>
	abâtardis->-2.3<br>
	abâtardisant->-2.6<br>
	accablant->-1.4<br>
	Pour les personne pas tres douée le nombre apres le mots est ca polarité ( en gros le sentiment du mots :D )
	</p>
</div>
<footer>

<a class="button2" href="etape"> <strong>Revenir au étape</strong></a>

</footer>

</body>






</html>