<html lang="fr">


<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title> Page 1 </title>
</head>



<body>

<h3 class='titlered'>C'est quoi le Stop Word ?</h3>
<div class="Presentation">
		<p>le stop word sont tout les mots qui sont francais mais inutile</p>
		<p>Dans notre cas c'est problématique de gardé des mots inutile qui auront aucune valeur, donc on les supprime dans nos calcule</p>
		</p> Ressource : https://countwordsfree.com/stopwords/french</p>
		</div>



<footer>

<a class="button2" href="etape"> <strong>Revenir au étape</strong></a>

</footer>

</body>






</html>